# Ignore all build directories, even nested ones
build/
Build/

# Ignore clangd cache
.cache/

# Ignore all object files
*.out
*.o

# Ignore known script binaries
createAstClasses
koala.js
koala.wasm

# Ignore VSC specific files
# Yes I set up debugging in VS Code because I couldn't be bothered wrestling with neovim configurations
.vscode/
